table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background: #f3f3f3;
}

thead {
  background: rgba(255, 151, 98, .71);
  border: 1px solid rgba(255, 151, 98, .71);
  color: #fff;
}

thead td {
  position: relative;
  border: none;
}

thead td.filter:after {
  content: '';
  position: absolute;
  right: 8px;
  display: inline-block;
  background: url("../../images/back.svg");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
}

tr:hover td {
  background: none;
  color: #f3905d;
}

tr:nth-child(n) td {
  border: 1px solid #fff;
}

tr:nth-child(2n) td {
  border: 1px solid #f3f3f3;
}

tr:nth-child(2n):hover td {
  border: 1px solid #f3f3f3;
}

td {
  padding: 6px 10px;
  cursor: pointer;
}